<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

  <!-- Static Transform Publisher for the first robot -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_tb3_1_odom" 
        args="0 0 0 0 0 0 /world /tb3_1/odom 10" />
  
  <!-- Static Transform Publisher for the second robot -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_tb3_2_odom" 
        args="0 0 0 0 0 0 /world /tb3_2/odom 10" />

  <!-- Static Transform Publisher for the third robot -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_tb3_3_odom" 
        args="0 0 0 0 0 0 /world /tb3_3/odom 10" />

  <!-- TurtleBot3 Bringup -->
  <!-- TurtleBot3 for tb3_1 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="model" value="$(arg model)" />
    </include>



  <!-- RViz -->
  <group if="$(arg open_rviz)">
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log"
          args="-d $(find plan_manage)/config/wjx.rviz" />
  </group>
</launch>

